/* You can add global styles to this file, and also import other style files */
:root{
--green: #69f0ae;
--blue: #03a9f4;
--red: #f44336;
--yellow: #ffeb3b;
--white: #fff;
--black: #000;
--gray: #9e9e9e;
--light-gray: #f5f5f5;
--dark-gray: #616161;
--light-green: #b2ff59;
--light-blue: #40c4ff;
--light-red: #ff5252;
--light-yellow: #ffff8d;
--light-black: #212121;
--light-white: #e0e0e0;
--lighter-white: #fafafa;
--lighter-gray: #e0e0e0;
--lighter-green: #ccff90;
--lighter-blue: #80d8ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  /** background-color: var(--black); **/
}


.container{
  max-width: 1500px;
  margin: 0 auto;
}
